.active{
    background-color: #4527A0;
}
/*.navbar{
    background-color:#7b1fa2;
   
}
.navbar ul li a,.navbar-brand{
    justify-content: center;
    text-align: center;
    color: white;
    padding-left:  10px;
    padding-right: 10px;
}*/
.link{
    margin-right: 5px;
    transition: all 0.5s ease;
}
.link:hover{
    color: white;
    background-color:#8a2be2;
}
.brand{
    color:white;
    transition: all 0.5s ease;
}
.brand:hover{
    transform: scale(1.1);
}